<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/public/style.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/f944157f4a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&family=Sono:wght@200&display=swap"
      rel="stylesheet"
    />

    <title>Task Wizard</title>
  </head>
  <body>
    <div class="navbar">
      <div class="container nav">
        <input class="checkbox" id="" type="checkbox" name="" />
        <div class="lines">
          <div class="line line1"></div>
          <div class="line line2"></div>
          <div class="line line3"></div>
        </div>
        <a href="/home" class="logo">
          <h1>Task Wizard</h1>
        </a>
        <div class="menu">
          <li class="links">
            <a href="/home">Home</a>
          </li>
          <li class="links">
            <a href="/home">Settings</a>
          </li>
        </div>
      </div>
    </div>
    <div class="taskContainer">
      <h2>Task Wizard</h2>
      <div class="task">
        <form action="" method="POST" class="task-header">
          <input type="text" name="task" placeholder=" Enter Task" />
          <button type="submit"><span class="fas fa-plus"></span></button>
        </form>

        <ul class="taskList">
          <% task.forEach(task => { %> <% if (task._id == taskID) { %>
          <li class="taskLi-item">
            <form action="/<%=task._id %>?_method=PUT" method="POST">
              <input type="text" name="task" value="<%=task.task %>" />
              <button class="sbmt" type="submit">Submit</button>
              <a href="/home" class="cancel">Cancel</a>
            </form>
          </li>
          <% } else { %>
          <li class="taskLi-item">
            <div class="taskLi-item-name"><%=task.task %></div>
            <div id="btns">
              <a href="/<%=task._id %>/edit/" class="edit">
                <span class="fa-solid fa-pen" id="editBtn"></span>
              </a>
              <form action="/<%=task.id %>?_method=DELETE" method="POST">
                <button type="submit" class="fa-solid fa-times"></button>
              </form>
            </div>
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
